.header {
    display: block;
    text-align: center;
    background-color: white;
    padding: 0.2em 0 0.2em 0;
    border-radius: 2rem 2rem 0 0;
}

h1 {
    display: contents;
    text-decoration: none;
    color: #011638;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: medium;
    }
}