nav {
    height: 100%;
    background-color: #011638;
}

a {
    display: block;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    border-left: 0.2em solid;
    padding: 0.2em 0.2em 0.2em 0;
}

a:hover {
    background-color: #7B869A;
}

a:hover:not(.selected) {
    border-color: #7B869A;
}

.selected {
    border-color: #F5F5FC;
}

#room-nav {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav {
        margin-top: auto;
        height: auto;
        display: flex;
    }

    a {
        flex-grow: 1;
        border-left: none;
        border-bottom: 0.2em solid;
        padding: 0.2em 0.2em 0 0.2em;
    }

    #room-nav {
        display: block;
    }
}