<nav>
    <div class="col">
        <h4>Innkeeper Games</h4>
        <ul>
            <li><a href="https://innkeepergames.com">Blog</a></li>
            <li><a href="https://innkeepergames.com/about">About</a></li>
        </ul>
    </div>
    <div class="col">
        <h4>Cowork</h4>
        <ul>
            <li><a href="/features">Features</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="https://wiki.cowork.ac">Wiki</a></li>
        </ul>
    </div>
    <div class="col">
        
    </div>
</nav>