.list {
  padding: 0.4rem 1ch 0.4rem 1ch;
}

.tasks {
  display: block;
}
  
.new-task {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  background-color: white;
  margin: 0.5em 0 0.5em 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.center {
  display: flex;
  justify-content: space-between;
}
  
.title {
  flex: 1;
  overflow-wrap: break-word;
  background-color: white;
  border: none;
}

.drop-area {
    min-height: 1em;
}