<div class="task" id="{{ data.task_id }}" [cdkDragDisabled]="disabled" (cdkDragStarted)="startDragging($event)" (click)="openTask()" cdkDrag>
    <div class="center">
      <div class="tags">
        tags
      </div>
      <div id="{{ data.task_id }}-title" class="title" (click)="openTask()" (keydown.enter)="saveTitle()" (focusout)="saveTitle()" [attr.contentEditable]="open ? 'plaintext-only' : false">{{ data.title }}</div>
      <div id="{{ data.task_id }}-full" class="full">
        <div id="{{ data.task_id }}-contents" class="contents" tabindex="0" data-ph="Add a description..." contenteditable="plaintext-only" (focusout)="saveDescription()">{{ data.contents }}</div>
        <button>Close</button>
      </div>
      <div class="extras">
        <div class="info">extras</div><a id="{{ data.task_id }}-remove-task" class="remove-task not-displayed" (click)="removeTask()"><fa-icon [icon]="faTrash"></fa-icon></a>
      </div>
    </div>
</div>