<div class="task" id="{{ data.task_id }}" [cdkDragDisabled]="disabled" (cdkDragStarted)="startDragging($event)" cdkDrag>
    <div class="center">
      <div class="tags">
        tags
      </div>
      <input id="{{ data.task_id }}-title" class="title" (click)="openTask()" (keydown.enter)="saveTitle()" (focusout)="saveTitle()" value="{{ data.title }}">
      <div id="{{ data.task_id }}-full" class="full">
        <textarea id="{{ data.task_id }}-contents" class="contents" tabindex="0" (focusout)="saveDescription()" placeholder="Add a description..."></textarea>
        <button>Close</button>
      </div>
      <div class="extras">
        <div class="info">extras</div><a id="{{ data.task_id }}-remove-task" class="remove-task not-displayed" (click)="removeTask()"><fa-icon [icon]="faTrash"></fa-icon></a>
      </div>
    </div>
    <input id="{{ data.task_id }}-active-radio-button" class="active-radio-button" name="active" (click)="setActive()" type="radio">
</div>