.task {
  display: flex;
  cursor: grab;
  background-color: white;
  padding: 0.2em 1ch 0.2em 1ch;
  margin: 0.5em 0 0.5em 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 8px;
}

.tags, .extras {
  font-size: smaller;
}

.task:focus {
  outline: none;
}

.active-radio-button {
  cursor: pointer;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.active {
  animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.title {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  flex: 1;
  font-size: 1.2em;
  overflow-wrap: break-all;
}

.title:focus {
  outline: auto;
  border-color: #011638;
  border-width: 2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.center {
  display: flex;
  height: auto;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.full {
  overflow: hidden;
  display: none;
}

.full-shown {
  display: flex;
  flex-direction: column;
}

.contents {
  font-size: small;
  resize: vertical;
}

input, textarea {
  background: transparent;
  box-sizing: border-box;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 4px;
}

.contents:focus ~ button {
  display: block;
}

button {
  margin-top: 0.5em;
  align-self: flex-start;
  display: none;
}

.open {
  cursor: auto;
}

.not-displayed {
  display: none;
}

.extras {
  display: flex;
  justify-content: space-between;
}

.remove-task {
  cursor: pointer;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@keyframes color_change {
	from { background-color: white; }
	to { background-color: #ececec; }
}