<div id="scroll">
    <app-navbar></app-navbar>
    <h2 class="title">Choose the plan that's right for you.</h2>
    <div id="pricing">
        <div class="plan" id="basic">
            <h2>Basic</h2>
            <div>
                Work together with friends and gamify your productivity
            </div>
            <div class="price"><h3>$0</h3><span class="time">/mo</span></div>
            <ul>
                <li>Virtual coworking environment with friends</li>
                <li>Unlimited tasks and tags</li>
                <li>Shared Pomodoro timers</li>
                <li>Shared active tasks</li>
            </ul>
            <a href="/auth/sign-up" class="cta"><button>Sign up</button></a>
        </div>
        <div class="plan" id="pro">
            <h2>Pro</h2>
            <div>
                Easily track your productivity with friends and support indie software
            </div>
            <div class="price"><h3>$5</h3><span class="time">/mo</span></div>
            <ul>
                <li>Everything in Basic, plus...</li>
                <li>Advanced personal productivity statistics</li>
                <li>Custom room environment features</li>
                <li>Access to the entire virtual world of Cowork</li>
            </ul>
            <a href="/home/settings/subscribe" class="cta"><button>Subscribe</button></a>
        </div>
    </div>
    <app-footer></app-footer>
</div>