<app-panel-header [header]="header"></app-panel-header>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-element">
        <input type="text" placeholder="Email address" name="username" ngModel required>
    </div>

    <div class="form-element">
        <input type="password" placeholder="Password" name="password" ngModel required>
    </div>

    <div id="error" class="form-element">
        
    </div>

    <div class="form-element">
        <button type="submit"><h2>Sign in</h2></button>
    </div>
  
    <div class="form-element">
        <span class="password"><a (click)="navigate('/auth/sign-up')">New here? Create an account</a></span>
        <span class="password"><a (click)="navigate('/auth/reset-password')">Reset your password</a></span>
    </div>
</form>