#not-in-session {
    flex: 1 0 0;
    padding: 0.2em 2ch 0.2em 2ch;
    display: flex;
    flex-direction: column;
}

#consumable {
    text-align: center;
    font-size: 10em;
}

h2, #participants {
    margin: 0.2em 0 0.2em 0;
}

#participants {
    text-align: center;
}

#time {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:3em;
}

#time-display {
    flex-grow: 1;
    font-size: 2em;
    text-align: center;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    font-size: 2em;
    margin: 0 0.2ch 0 0.2ch;
    cursor: pointer;
    color: #adbbd3;
}

.arrow::selection {
    background: white;
}

.arrow:hover, .arrow:active {
    color: #011638;
}

button {
    font-size: 2em;
    margin: 0 0.2ch 0 0.2ch;
}

#active-task {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#start {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 0.5em 0;
}