#tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    flex: 1;
    display: block;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    background-color: #C2BBDD;
}

.tab:hover {
    cursor: pointer;
}

.active {
    background-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

#not-in-session {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

#host {
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    flex: 1 0 0;
}

#consumable {
    font-size: 12em;
    text-align: center;
}

#time {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

input {
    text-align: center;
}

#active-task {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#start {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 0.5em 0;
}

#join {
    display: flex;
    background-color: #C2BBDD;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    overflow-y: auto;
    flex: 1 0 0;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: #F5F5FC;
    padding: 0.2em 1ch 0.2em 1ch;
    margin: 0.5em 1ch 0.5em 1ch;
    box-sizing: border-box;
    border-radius: 4px;
    flex: 1 0 0;
    min-width: 40%;
    max-width: 40%;
}