.room-link:hover {
    background-color: #D5D5DB;
}

.item {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.2em 2ch 0.2em 2ch;
}

.room-label {
    flex: 1 0 0;
    margin-left: 2ch;
}