.home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app {
    flex: 15 0 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#activity-container {
    flex: 5 0 0;
}


#room {
    flex: 5 0 0;
    background-color: #000000;
}

.invisible {
    display: none;
}

@media only screen and (max-width: 600px) {
    .app {
        flex-direction: column;
    }

    #activity-container {
        height: 100%;
        border-right: none;
    }

    #menu {
        order: 3;
    }

    .invisible-mobile {
        display: none;
    }
}