.home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app {
    flex: 15 0 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#menu {
    flex: 1 0 0;
}

#activity-container {
    flex: 5 0 0;
    border-right: solid #011638;
}

#room {
    flex: 10 0 0;
    color: #011638;
    background-color: #F5F5FC;
}

.invisible {
    display: none;
}

@media only screen and (max-width: 600px) {
    .app {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #activity-container {
        flex: 7 0 0;
        border-right: none;
    }

    #menu {
        flex: 1 0 0;
        order: 3;
    }

    #room {
        flex: 7 0 0;
    }

    .invisible-mobile {
        display: none;
    }
}