<div class="landing-page">
    <nav id="options">
        <div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><a href="/home">Continue to Cowork</a></ng-template>
        <ng-template #elseBlock><a href="/auth/sign-in" id="entry-link">Have an alpha account? Sign in</a></ng-template>
    </nav>
    <div class="statement">
        <img id="logo" src="../../../assets/icons/icon.png">
        <h1>Cowork</h1>
        <h2>A shared space to help you stay accountable with your friends</h2>
    </div>
    <div class="more">
        <p>This is supposed to appear after the rest of it.</p>
    </div>
</div>