.landing-page {
    color: #011638;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.section {
    display: flex;
    height: 75vh;
    padding: 0 12ch;
}

h2.feature-header {
    font-size: 3em;
}

h3.feature-header {
    font-size: 2em;
}

.left h2, .left h3 {
    text-align: right;
}

.right h2, .right h3 {
    text-align: left;
}

.left {
    align-items: flex-end;
    padding-right: 12ch;
}

.right {
    align-items: flex-start;
    padding-left: 12ch;
}

.alt {
    background-color: #011638;
    color: white;
}

.feature {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    flex: 1 1 0px;
}

.feature img {
    max-height: 75vh;
    width: auto;
}

.feature-header {
    margin: 0;
}

.statement {
    flex: 1 1 0px;
    margin-right: 6ch;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cta {
    font-size: 2em;
    align-self: flex-start;
    color: black;
}

.statement a {
    text-decoration: none;
}

.demo {
    flex: 2 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-shadow: 0 0  2ch#000000;
}

#logo {
    height: 128px;
    width: 128px;
    margin-left: -32px;
}

.more {
    color: #011638;
    padding: 0 25% 0 25%;
}

a {
    color: #7B869A;
}

a:hover {
    color: #F5F5FC;
}

#options {
    position: absolute;
    right: 1em;
    top: 1em;
    display: flex;
    font-size: small;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
        margin: 0;
    }
    
    h2 {
        font-size: 1em;
    }

    h2.feature-header {
        font-size: inherit;
    }
    
    h3.feature-header {
        font-size: 0.8em;
    }

    .section {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 0 2ch;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .feature {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        background-color: #011638;
        color: white;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .feature img {
        width: 100%;
        height: auto;
    }

    .statement {
        margin: 1em 0;
    }

    .left h2, .left h3 {
        text-align: center;
    }
    
    .right h2, .right h3 {
        text-align: center;
    }
    
    .left {
        align-items: center;
        padding-right: 0;
    }
    
    .right {
        align-items: center;
        padding-left: 0;
    }

    .demo {
        flex-basis: inherit;
        max-width: 100%;
        box-shadow: none;
        margin: 0;
        order: 0;
    }

    .statement {
        order: 1;
    }
}