.landing-page {
    align-content: center;
    justify-content: center;
    color: #011638;
}

.section {
    display: flex;
    height: 75vh;
    padding: 0 12ch 0 12ch;
}

.statement {
    margin-right: 6ch;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cta {
    font-size: 2em;
    align-self: flex-start;
}

.statement a {
    text-decoration: none;
}

.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

video {
    max-width: 100%;
    border-radius: 2em;
    border: solid #011638 4px;
}

#logo {
    height: 128px;
    width: 128px;
    margin-left: -32px;
}

.more {
    color: #011638;
    padding: 0 25% 0 25%;
}

a {
    color: #7B869A;
    padding: 0 0.5em 0 0.5em;
}

a:hover {
    color: #F5F5FC;
}

#options {
    position: absolute;
    right: 1em;
    top: 1em;
    display: flex;
    font-size: small;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
        margin: 0;
    }
    
    h2 {
        font-size: 1em;
    }

    .section {
        flex-direction: column;
        justify-content: center;
        padding: 0 2ch;
    }

    .demo {
        order: 0;
        margin-bottom: 2em;
    }

    .statement {
        order: 1;
    }
}