<app-navbar></app-navbar>
<div class="landing-page">
    <div class="hero section">
        <div class="statement">
            <h1>Cowork</h1>
            <h2>A shared, social space to help you get things done</h2>
            <a href="/auth/sign-in"><button class="cta">Launch</button></a>
        </div>
        <div class="demo">
            <video src="../../../assets/landing-page/demo.mp4" autoplay loop muted></video>
        </div>
    </div>
    <div class="more">
        
    </div>
</div>
<app-footer></app-footer>