<app-navbar></app-navbar>
<div class="landing-page">
    <div class="hero section">
        <div class="statement">
            <h1>Cowork</h1>
            <h2>A shared, social space to help you get things done</h2>
            <a href="/auth/sign-in"><button class="cta">Launch</button></a>
        </div>
        <div class="muse-video-player demo" data-video="hqEkeEC" data-search="0" data-links="0" data-logo="0" data-title="0" data-autoplay="1" data-loop="1" data-volume="0" data-width="100%" data-style="no-controls"></div>
    </div>
    <div class="more">
        
    </div>
</div>
<app-footer></app-footer>