<div class="scroll-container">
    <app-panel-header [header]="header"></app-panel-header>
    <div class="list">
        <div class="margin">
            <div id="profile-settings">
                <h2>Profile</h2>
                <h3>Update Display Name</h3>
                <form class="form" #i="ngForm" (ngSubmit)="onSubmitDisplayName(i)" novalidate>
                    <div class="form-element">
                        <input type="text" placeholder="{{ displayName }}" name="display_name" ngModel required>
                    </div>
                    <div class="form-element">
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div id="room-settings" class="hidden">
                <h2 id="room-title">{{ roomTitle }}</h2>
                <form class="privacy-form form hidden">
                    <div>
                        <p class="form-label">{{ roomTitle }} is currently public. Anyone with the link or room code
                        can join this room.</p>
                    </div>
                    <div class="form-element">
                        <button (click)="onToggleRoomPrivacy()" type="submit">Make private</button>
                    </div>
                </form>
                <form class="privacy-form form">
                    <div>
                        <p class="form-label">{{ roomTitle }} is currently private. No one can join this room without an invitation.</p>
                    </div>
                    <div class="form-element">
                        <button (click)="onToggleRoomPrivacy()" type="submit">Make public</button>
                    </div>
                </form>
                <h3 class="form privacy-form hidden">Share an invite link for {{ roomTitle }}</h3>
                <form class="form privacy-form hidden">
                    <div class="form-element">
                        <input readonly value="cowork.ac/j/{{ roomId }}"/>
                    </div>
                    <div class="form-element">
                        <button [cdkCopyToClipboard]="roomLink" type="submit">Copy</button>
                    </div>
                </form>
                <h3>Invite Another User to {{ roomTitle }}</h3>
                <form class="form" #i="ngForm" (ngSubmit)="onSubmitInvite(i)" novalidate>
                    <div class="form-element">
                        <input type="text" placeholder="Email address" name="username" ngModel required>
                    </div>
                    <div class="form-element">
                        <button type="submit">Invite</button>
                    </div>
                </form>
                <h3>Leave {{ roomTitle }}</h3>
                <form class="form" novalidate>
                    <div class="form-element">
                        <div class="form-label">Leave {{ roomTitle }}?</div>
                    </div>
                    <div class="form-element">
                        <button (click)="onSubmitLeave()">Leave</button>
                    </div>
                </form>
            </div>
            <div id="enter-room" class="hidden">
                <h2>Enter Another Room</h2>
                <ng-template appRoomLink></ng-template>
            </div>
            <h2>Join a Room</h2>
            <h3>Pending Invitations</h3>
            <p>You don't have any invitations.</p>
            <div id="invitations" class="hidden">
                <ng-template appRoomInvitation></ng-template>
            </div>
            <h3>Join a Public Room</h3>
            <form class="form" #j="ngForm" (ngSubmit)="onSubmitJoin(j)" novalidate>
                <div class="form-element">
                    <input type="text" placeholder="Room code" name="joinCode" ngModel required>
                </div>
                <div class="form-element">
                    <button type="submit">Join</button>
                </div>
            </form>
            <h2>Make a Room</h2>
            <form class="form" #c="ngForm" (ngSubmit)="onSubmitCreate(c)" novalidate>
                <div class="form-element">
                    <input type="text" placeholder="Room name" name="title" ngModel required>
                </div>
                <div class="form-element">
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>