.scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.margin {
    margin: 0.2em 2ch 0.2em 2ch;
}

@media only screen and (max-width: 600px) {
    .list {
        height: 70vh;
    }

    #chat {
        width: 70vh;
        max-width: 70vw;
    }
}