iframe {
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: crosshair;
}

.room {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

@media only screen and (min-width: 600px) {
    .room {
        border-radius: 2rem 2rem 2em 2em;
    }

    iframe {
        margin: 2em;
        border-color: transparent;
        border-radius: 2em;
    }
}