canvas {
    height: 100%;
    border-radius: 2rem 2rem 0 0;
}

.room {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    background-color: #011638;
}

@media only screen and (min-width: 600px) {
    canvas {
        border-radius: 2rem 0 0 0;
        margin-left: 4ch;
    }
}