canvas {
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: crosshair;
}

.room {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}