<app-panel-header [header]="header"></app-panel-header>
<form class="hidden-form">
    <div class="join-form-element">
        <div class="users"><fa-icon [icon]="faUsers"></fa-icon> {{ memberCount }} members in this room</div>
        <button (click)="joinRoom()"><h2>Join {{ roomTitle }}</h2></button>
    </div>
    <div class="join-form-element hidden-form">
        <div class="users">That join link's not valid!</div>
        <button (click)="goHome()"><h2>Go home</h2></button>
    </div>
</form>