.scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#list {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
}

#retrieving {
    text-align: center;
    margin: 0 0 0 0;
    padding: 1em 0 1em 0;
}

#load-more {
    color: #011638;
    cursor: pointer;
    text-decoration: underline;
}

.margin {
    margin: 0.2em 2ch 0.2em 2ch;
}

form {
    display: flex;
    justify-content: space-between;
}

.form-label {
    margin: 0 4ch 0 2ch;
}

.hidden {
    display: none;
}

#chat-box {
    display: flex;
    background-color: #C2BBDD;
    padding: 1em 0 1em 0;
}

#chat-field {
    flex: 1;
    padding: 0.2em 1ch 0.2em 1ch;
    margin: 0 2ch 0 2ch;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #F5F5FC;
    box-sizing: border-box;
    border-radius: 4px;
}
  
[contentEditable=plaintext-only]:empty:not(:focus):not(:hover):before{
    content: attr(data-ph);
    color:grey;
}

#chat-field:hover {
    background-color: white;
}

#chat-field:focus {
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .list {
        height: 70vh;
    }

    #chat {
        width: 70vh;
        max-width: 70vw;
    }
}