.chat-message:hover {
    background-color: #D5D5DB;
}

.chat-message {
    padding: 0.5em 2ch 0.5em 2ch;
}

.author {
    font-weight: bold;
}

.meta {
    display: flex;
    justify-content: space-between;
}

.sent-date {
    padding-top: 0.25em;
    font-size: smaller;
}

p {
    margin: 0 0 0 0;
}