.header {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0.5em 0 0.5em 0;
}

a {
    color: #00B884;
    cursor: pointer;
    text-decoration: underline;
    padding: 0 0.5em 0 0.5em;
}

.home {
    text-decoration: none;
}

h1 {
    font-size: medium;
    display: contents;
    color: #00B884;
    margin: 0;
}

.options {
    position: absolute;
    right: 0;
    top: 1.75em;
    display: flex;
    font-size: small;
}

a:hover {
    color: #00B884;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        align-items: left;
        justify-content: left;
    }

    h1 {
        font-size: 1em;
    }

    .options {
        top: 0.8em;
    }
}
