.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 0;
    background-color: #011638;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    padding: 0 0.5em 0 0.5em;
}

.home {
    text-decoration: none;
}

h1 {
    display: contents;
    color: #F5F5FC;
    margin: 0;
}

.options {
    font-size: small;
}

a:hover {
    color: #F5F5FC;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        align-items: left;
        justify-content: left;
    }

    h1 {
        font-size: 1em;
    }

    .options {
        top: 0.8em;
    }
}
