<ng-template appUpdateNotesPopup></ng-template>
<ng-template appOnboardingPopup></ng-template>
<nav>
    <a title="Room" tabindex="0" (keydown.enter)="navigate('/home/room', $event)" (click)="navigate('/home/room', $event)" id="room-nav" href="/home/room">
        <i class="bi bi-house-door"></i>
        <span class="notification hidden" id="room-notification">0</span>
    </a>
    <a title="Chat" tabindex="0" (keydown.enter)="navigate('/home/chat', $event)" (click)="navigate('/home/chat', $event)" id="chat-nav" href="/home/chat">
        <i class="bi bi-chat"></i>
        <span class="notification hidden" id="chat-notification">0</span>
    </a>
    <a title="Timer" tabindex="0" (keydown.enter)="navigate('/home/timer', $event)" (click)="navigate('/home/timer', $event)" id="timer-nav" href="/home/timer">
        <i class="bi bi-hourglass"></i>
        <span class="notification hidden" id="timer-notification">0</span>
    </a>
    <a title="Stats" tabindex="0" (keydown.enter)="navigate('/home/stats', $event)" (click)="navigate('/home/stats', $event)" id="stats-nav" href="/home/stats">
        <i class="bi bi-graph-up"></i>
        <span class="notification hidden" id="stats-notification">0</span>
    </a>
    <a title="Tasks" tabindex="0" (keydown.enter)="navigate('/home/tasks',$event)" (click)="navigate('/home/tasks', $event)" id="tasks-nav" href="/home/tasks">
        <i class="bi bi-list-task"></i>
        <span class="notification hidden" id="tasks-notification">0</span>
    </a>
    <a title="Settings" tabindex="0" (keydown.enter)="navigate('/home/settings', $event)" (click)="navigate('/home/settings', $event)" id="settings-nav" href="/home/settings">
        <i class="bi bi-gear"></i>
        <span class="notification hidden" id="settings-notification">0</span>
    </a>
    <a title="Update Notes" [ngStyle]="{ 'display': this.updateNotesDisplay }" tabindex="0" (keydown.enter)="openUpdateNotes()" (click)="openUpdateNotes()" id="update-notes-nav">
        <i class="bi bi-newspaper"></i>
        <span class="notification" id="update-notes-notification">0</span>
    </a>
</nav>