nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    background-color: white;
    padding: 0 0.5ch 0 0.5ch;
    box-shadow: 0 1.2ch 1ch 1ch lightgrey;
}

svg {
    scale: 2;
}

p {
    font-family: 'Poppins Bold';
    font-size: small;
    margin: 0;
}

a {
    display: flex;
    align-items: center;
    color: #b4b4b4;
    display: block;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.2em 0.2em 0.1em;
    margin-left: 1ch;
    margin-right: 1ch;
}

a:hover:not(.selected), a:focus {
    color: black;
    outline: none;
}

.selected {
    color: black;
    outline: none;
}

#room-nav {
    display: none;
}

@media only screen and (max-height: 420px) {
    #settings-nav {
        position: relative;
    }
}

@media only screen and (max-width: 1600px) {
    svg {
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: row;
        border-top: solid 1px black;
        padding: 0.5rem 0 0.5rem 0;
        margin-top: auto;
        height: auto;
    }

    a {
        flex-grow: 1;
    }

    #settings-nav {
        position: relative;
    }

    #room-nav {
        display: block;
    }
}