<nav>
    <a tabindex="0" (keydown.enter)="navigate('/home', $event)" (click)="navigate('/home', $event)" id="room-nav" href="/home"><fa-icon [icon]="faHome"></fa-icon></a>
    <a tabindex="0" (keydown.enter)="navigate('/home/store', $event)" (click)="navigate('/home/store', $event)" id="store-nav" href="/home/store"><fa-icon [icon]="faStore"></fa-icon></a>
    <a tabindex="0" (keydown.enter)="navigate('/home/chat', $event)" (click)="navigate('/home/chat', $event)" id="chat-nav" href="/home/chat"><fa-icon [icon]="faComments"></fa-icon></a>
    <a tabindex="0" (keydown.enter)="navigate('/home/timer', $event)" (click)="navigate('/home/timer', $event)" id="timer-nav" href="/home/timer"><fa-icon [icon]="faHourglass"></fa-icon></a>
    <a tabindex="0" (keydown.enter)="navigate('/home/stats', $event)" (click)="navigate('/home/stats', $event)" id="stats-nav" href="/home/stats"><fa-icon [icon]="faChartPie"></fa-icon></a>
    <a tabindex="0" (keydown.enter)="navigate('/home/tasks',$event)" (click)="navigate('/home/tasks', $event)" id="tasks-nav" href="/home/tasks"><fa-icon [icon]="faTasks"></fa-icon></a>
    <a tabindex="0" (keydown.enter)="navigate('/home/settings', $event)" (click)="navigate('/home/settings', $event)" id="settings-nav" href="/home/settings"><fa-icon [icon]="faCog"></fa-icon></a>
</nav>