nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #011638;
}

img {
    height: 3em;
    margin: 1ch;
}

ul {
    display: flex;
    align-items: center;
    gap: 2ch;
    list-style: none;
    margin-right: 2ch;
}

li a {
    color: #f5f5f5;
    text-decoration: none;
}

button {
    padding: 0.5em 2ch;
}