.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: auto;
    background-color: white;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1;
    overflow-wrap: break-word;
    background-color: white;
    border: none;
}

.new-tag {
    flex: 1;
    display: flex;
}

h3 {
    margin: 0;
    font-size: large;
}

.close-task {
    font-weight: bold;
    padding: 1ch;
    border-radius: 1ch;
    align-self: flex-end;
}

.close-task:hover, .close-task:focus {
    background-color: lightgray;
    cursor: pointer;
}

app-task-preview {
    flex: 1;
}