@font-face {
    font-family: "Poppins Bold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body, html {
    color: #011638;
    margin: 0;
    height: 100%;
    background-color: #011638;
}

* {
    font-family: "Poppins Regular";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins Bold";
}

button {
    cursor: pointer;
    display: block;
    align-self: center;
    border: 0;
    background: none;
    box-shadow: none;
    background-color: #E8CF73;
    border-radius: 0px;
    font-weight: bold;
}

button:hover {
    background-color: #FFF6B6;
}