@font-face {
    font-family: "Poppins Bold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Mediun";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body, html {
    color: #f5f5fc;
    margin: 0;
    height: 100%;
    background-color: #011638;
}

* {
    font-family: "Poppins Regular";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins Bold";
}