.activities {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    height: 100%;
    margin: 0 4ch 0 4ch;
}

.activity {
    display: none;
    border-radius: 2rem 2rem 0 0;
}

.visible {
    flex: 1 0 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}