.activities {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    height: 100%;
}

.activity {
    display: none;
}

.visible {
    flex: 1 0 0;
    background-color: #F5F5FC;
    display: flex;
    flex-direction: column;
}