<div class="activities">
    <div class="activity" id="store">
        <app-store></app-store>
    </div>

    <div class="activity" id="chat">
        <app-chat></app-chat>
    </div>

    <div class="activity" id="timer">
        <app-timer></app-timer>
    </div>

    <div class="activity" id="analytics">
        <app-analytics></app-analytics>
    </div>

    <div class="activity" id="tasks">
        <app-tasks></app-tasks>
    </div>

    <div class="activity" id="settings">
        <app-settings></app-settings>
    </div>
</div>