.loader {
    color: #F5F5FC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.loader div {
    animation: loader-grid 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes loader-grid {
    0%, 100% {
        font-size: 4em;
        transform: rotate(0deg);
    }
    50% {
        font-size: 6em;
        transform: rotate(-15deg);
    }
}
  