<div class="modal" (click)="onClose($event)">
    <div id="editor" class="modal-content" tabindex="0" [ngClass]="{'complete' : this.data.complete}">
        <div class="update-notes-header">
            <h2>What's New</h2>
            <a tabindex="0" (keydown.enter)="onClose($event)" (click)="onClose($event)" class="close-update-notes">X</a>
        </div>
        <div class="update-notes-content">
            <iframe id="post" src="https://design-documents.writeas.com/2022-02-23"></iframe>
        </div>
    </div>
</div>